#parse("/template/home/layout.vm")
#@mainLayout()

    <!-- Main content -->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                    <div class="card card-signin my-5">

                        <div class="card-header text-center">
                            <b>Sign in</b> to start your session
                        </div>

                        <div class="card-body">
                            <form class="form-signin" action="/auth/login" method="post">
                                <div class="form-group">
                                    <select class="form-control" id="dni" name="dni">
                                        <option value="11111111H" selected>11111111H - ME</option>
                                        <option value="00514526Q">00514526Q - Giselle Benton</option>
                                        <option value="02579822G">02579822G - Nevada Mack</option>
                                        <option value="07300179W">07300179W - Audrey Leonard</option>
                                        <option value="12141409P">12141409P - Jocelyn Heath</option>
                                        <option value="20334562D">20334562D - Eden Crosby</option>
                                        <option value="24237126W">24237126W - Hadley Stanley</option>
                                        <option value="43763308N">43763308N - Nasim Stokes</option>
                                        <option value="72432550F">72432550F - Vincent Hoffman</option>
                                        <option value="76304925X">76304925X - Kareem Bush</option>
                                    </select>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-primary btn-block">Sign in with certificate</button>
                                    </div>
                                    <!-- /.col -->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </div><!-- /.content -->

#end
