#parse("/template/home/layout.vm")
#@mainLayout()

<div class="text-center">
    <form class="form-signin" action="/auth/login" method="post">
        <img class="mb-4" src="/favicon.png" alt="" width="72" height="72">

        <div class="form-group">
            <select class="form-control" id="dni" name="dni">
                <option value="11111111H" selected>11111111H - ME</option>
                <option value="00514526Q">00514526Q - Giselle Benton</option>
                <option value="02579822G">02579822G - Nevada Mack</option>
                <option value="07300179W">07300179W - Audrey Leonard</option>
                <option value="12141409P">12141409P - Jocelyn Heath</option>
                <option value="20334562D">20334562D - Eden Crosby</option>
                <option value="24237126W">24237126W - Hadley Stanley</option>
                <option value="43763308N">43763308N - Nasim Stokes</option>
                <option value="72432550F">72432550F - Vincent Hoffman</option>
                <option value="76304925X">76304925X - Kareem Bush</option>
            </select>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in with your certificate</button>
    </form>
</div>

#end
