#parse("/template/dashboard/layout.vm")
#@mainLayout()

<h2>Current month</h2>
<div class="table-responsive">
    <table class="table table-bordered table-sm">
        <thead>
        <tr>
            <th>#</th>
            <th>Total Taxes</th>
            <th>Total Taxes Due</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>Incomes</th>
            <th>$totalIncomesTaxes</th>
            <th rowspan="2">$totalTaxesDue</th>
        </tr>
        <tr>
            <th>Refunds</th>
            <th>$totalRefundsTaxes</th>
        </tr>
        </tbody>
    </table>
</div>

#end
