#parse("/template/dashboard/layout.vm")
#@mainLayout()

<h2>Reporting</h2>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th>Period</th>
            <th>Income taxes</th>
            <th>Refund taxes</th>
            <th>Total Taxes Due</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>Monthly</td>
                <td>$monthlyIncomesTaxes</td>
                <td>$monthlyRefundsTaxes</td>
                <td>$monthlyTotalTaxesDue</td>
            </tr>
            <tr>
                <td>Quarterly</td>
                <td>$quarterlyIncomesTaxes</td>
                <td>$quarterlyRefundsTaxes</td>
                <td>$quarterlyTotalTaxesDue</td>
            </tr>
            <tr>
                <td>Biannual</td>
                <td>$biannualIncomesTaxes</td>
                <td>$biannualRefundsTaxes</td>
                <td>$biannualTotalTaxesDue</td>
            </tr>
            <tr>
                <td>Annual</td>
                <td>$annualIncomesTaxes</td>
                <td>$annualRefundsTaxes</td>
                <td>$annualTotalTaxesDue</td>
            </tr>
        </tbody>
    </table>
</div>

#end
