#parse("/template/dashboard/layout.vm")
#@mainLayout()

<h2>Reporting</h2>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th>Period</th>
            <th>Incomes</th>
            <th>Income taxes</th>
            <th>Refunds</th>
            <th>Refund taxes</th>
            <th>Total Taxes Due</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>Monthly</td>
                <td>$monthlyIncomes</td>
                <td>$monthlyIncomeTaxes</td>
                <td>$monthlyRefunds</td>
                <td>$monthlyRefundTaxes</td>
                <td>$monthlyTotalTaxesDue</td>
            </tr>
            <tr>
                <td>Quarterly</td>
                <td>$quarterlyIncomes</td>
                <td>$quarterlyIncomeTaxes</td>
                <td>$quarterlyRefunds</td>
                <td>$quarterlyRefundTaxes</td>
                <td>$quarterlyTotalTaxesDue</td>
            </tr>
            <tr>
                <td>Biannual</td>
                <td>$biannualIncomes</td>
                <td>$biannualIncomeTaxes</td>
                <td>$biannualRefunds</td>
                <td>$biannualRefundTaxes</td>
                <td>$biannualTotalTaxesDue</td>
            </tr>
            <tr>
                <td>Annual</td>
                <td>$annualIncomes</td>
                <td>$annualIncomeTaxes</td>
                <td>$annualRefunds</td>
                <td>$annualRefundTaxes</td>
                <td>$annualTotalTaxesDue</td>
            </tr>
        </tbody>
    </table>
</div>

#end
