<!--
######################
SCRIPTS
######################
-->
<!-- Optional JavaScript -->


<!-- jQuery first, then Bootstrap (Popper included) -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

<!-- Custom scripts -->
<script src="/js/home_scripts.js"></script>
