#macro(mainLayout)
    <html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/main.css">
        <link rel="icon" href="/favicon.png">

        <title>Reporting</title>
    </head>
    <body>
    <header>
        <nav></nav>
    </header>
    <main>
        <div id="content">
            $bodyContent
        </div>
    </main>
    <footer>
    </footer>
    </body>
    </html>
#end
