#parse("/template/home/layout.vm")
#@mainLayout()

<div class="card-deck">
    <div class="card border-success">
        <div class="card-header bg-success content-center text-white">
            <span>Income</span>
        </div>
        <div class="card-body text-center">
            <p class="card-text">$incomes</p>
        </div>
    </div>
    <div class="card border-danger">
        <div class="card-header bg-danger content-center text-white">
            <span>Refund</span>
        </div>
        <div class="card-body text-center">
            <p class="card-text">$refunds</p>
        </div>
    </div>
    <div class="card border-primary">
        <div class="card-header bg-primary content-center text-white">
            <span>Salary</span>
        </div>
        <div class="card-body text-center">
            <p class="card-text">$salaries</p>
        </div>
    </div>
</div>

#end
