#macro(mainLayout)
<!DOCTYPE html>
<html lang="en">
    <head>
        #parse("/template/dashboard/partials/head.vm")
    </head>

    <body class="hold-transition sidebar-mini">
        <div class="wrapper">
            #parse("/template/dashboard/partials/nav.vm")
            #parse("/template/dashboard/partials/sidebar.vm")

            <!-- Content Wrapper - Contains page content -->
            <div class="content-wrapper">
                $bodyContent
            </div>
            <!-- /.content-wrapper -->

            <footer class="main-footer">
                #parse("/template/dashboard/partials/footer.vm")
            </footer>
        </div><!-- ./wrapper -->

        #parse("/template/dashboard/partials/footer_scripts.vm")
    </body>
</html>
#end
