#parse("/template/home/layout.vm")
#@mainLayout()
<!--Table-->
<table id="userList" class="table table-hover table-sm">
    <!--Table head-->
    <thead>
    <tr>
        <th>#</th>
        <th>Full name</th>
        <th>Email</th>
    </tr>
    </thead>
    <!--Table head-->
    <!--Table body-->
    <tbody>
        #foreach( $user in $users )
        <tr>
            <th>$user.idNumber</th>
            <td>$user.fullName</td>
            <td>$user.email</td>
        </tr>
        #end
    </tbody>
    <!--Table body-->
</table>
<!--Table-->
#end
