#parse("/template/home/layout.vm")
#@mainLayout()
    <!--Table-->
    <table id="productsList" class="table table-hover table-sm">
        <!--Table head-->
        <thead>
            <tr>
                <th>Code</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>
        <!--Table head-->
        <!--Table body-->
        <tbody>
            #foreach( $product in $products )
                <tr>
                    <td>$product.code</td>
                    <td>$product.description</td>
                    <td>$product.price</td>
                </tr>
            #end
        </tbody>
        <!--Table body-->
    </table>
    <!--Table-->
#end
